<h1>Commande est en cours de livraison</h1>
<p>
    Bonjour {{ username }}, votre commande n° {{ reference }} à été remis au transporteur vous pouvez suivre l'avancement 
    de votre colis avec le numero suivant : {{ carrier_reference }} sur le site <a href="{{ site_transporteur }}">{{ transporteur }}</a> elle vous sera expedier dans les plus bref delais. <br>
    Vous pouvez suivre l'avancement de votre commande sur votre compte rubrique "mes commandes"
</p>